<!-- start header -->
<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><span>L</span>atte <span>C</span>ake</a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url("homepage") }}">Home</a></li>
                    <li><a href="{{ url('about') }}">About</a></li>
                    <li><a href="blog.html">碎言碎语</a></li>
                    <li><a href="{{ url('life') }}">慢生活</a></li>
                    <li><a href="{{ url('learn') }}">学无止境</a></li>
                    <li><a href="{{ url('guestBook') }}">留言板</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- end header -->