{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <div class="pagination" id="pagination">
        {% if first is defined and current != first %}
            <span class="first">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="inactive">&lt;&lt;</a>
        </span>
        {% endif %}

        {% if previous is defined %}
            <span class="previous">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="inactive">&lt;</a>
        </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="page">
                <a href="#{{ path(route, query|merge({(pageParameterName): page})) }}" class="inactive">{{ page }}</a>
            </span>
            {% else %}
                <span class="current">{{ page }}</span>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <span class="next">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="inactive">&gt;</a>
        </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="last">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="inactive">&gt;&gt;</a>
        </span>
        {% endif %}
    </div>
{% endif %}
