
<div class="widget">
    <h5 class="widgetheading">Popular posts</h5>
    <ul class="recent">
        {% for row in topPosts if topPosts %}
        <li>
            <img src="{{ source_url }}images/{{ row.createdAt|date('Y/m') }}/{{ row.image }}?imageView2/1/w/65/h/65" class="pull-left" alt="" />
            {% set rowHref = "/learn/learnInfo/" %}
            {% if row.action == 2 %}
                {% set rowHref = "/life/lifeInfo/" %}
            {% endif %}
            <h6><a href="{{ rowHref }}{{ row.id }}">{{ row.title|length > 24 ? row.title|slice(0, 24) ~ '...' : row.title }}</a></h6>
            <p>
                {{ row.description|slice(0, 32) }} ...
            </p>
        </li>
        {% endfor %}
    </ul>
</div>