<ul class="ace-thumbnails clearfix">

    {% for image in images %}
    <li>
        <div>
            <img width="150" height="150" alt="150x150" src="{{ source_url }}images/{{ image.imageTime|date('Y/m') }}/{{ image.imageName }}?imageView2/1/w/150/h/150" />
            <div class="text">
                <div class="inner">
                    <a href="{{ source_url }}images/{{ image.imageTime|date('Y/m') }}/{{ image.imageName }}?imageView2/1/w/720" data-rel="colorbox">
                        <i class="ace-icon fa fa-search-plus"></i>
                    </a>
                    <a href="javascript:;" data-id="{{ image.id }}" class="image-bind" data-image="{{ source_url }}images/{{ image.imageTime|date('Y/m') }}/{{ image.imageName }}">
                        <i class="ace-icon fa fa-check-square-o"></i>
                    </a>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<p>
    {% for i in 1..pageTotal %}
        <a href="javascript:;" data-href="{{ url('admin_imageList', {'page': i}) }}" data-page="{{ i }}" class="badge badge-success image-page">{{ i }}</a>
    {% endfor %}
</p>