{% extends "AppBundle::default_layout.html.twig" %}

{% block pageTitle %}慢生活{% endblock %}

{% block banner %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ url('homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="{{ url('life_grow') }}">慢生活</a><i class="icon-angle-right"></i></li>
                        <li class="active">在成长</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
                {#<div class="col-lg-12">#}
                    {% for key, post in posts if posts %}
                        {#<div class="row">#}
                        <article class="row">
                            <div class="col-md-1 text-center">
                                <p>{{ post.createdAt|date() }}</p>
                            </div>
                            <div class="col-md-5" style="max-height: 240px;">
                                <a href="{{ url('life_lifeInfo', {"id": post.id}) }}">
                                    {% if post.image|trim is not empty %}
                                        <img class="img-responsive img-hover" src="{{ source_url }}images/{{ post.createdAt|date('Y/m') }}/{{ post.image }}?imageView/1/w/460/h/240" alt=""/>
                                    {% elseif post.images.count > 0 %}
                                        <div class="flexslider post-slider">
                                            <ul class="slides">
                                                {% for image in post.images %}
                                                    <li>
                                                        <img src="{{ source_url }}images/{{ image.imageTime|date('Y/m') }}/{{ image.imageName }}?imageView/1/w/460/h/240">
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    <a href="{{ url('life_lifeInfo', {"id": post.id}) }}">{{ post.title }}</a>
                                </h3>
                                <p style="height: 110px;">{{ post.description }}</p>
                                <div class="bottom-article">
                                    <ul class="meta-post">
                                        <li><i class="icon-user"></i><a href="#"> super Cong</a></li>
                                        {#<li><i class="icon-folder-open"></i><a href="#"> Blog</a></li>#}
                                        <li><i class="icon-comments"></i><a href="{{ url('life_lifeInfo', {"id": post.id}) }}#comments">{{ post.reviews }} 评论</a></li>
                                    </ul>
                                    <a href="{{ url('life_lifeInfo', {"id": post.id}) }}" class="pull-right">继续阅读 <i class="icon-angle-right"></i></a>
                                </div>
                            </div>
                        </article>
                        <hr>
                    {% endfor %}
                    <div id="pagination">
                        <span class="all"> {{ page }} / {{ postTotal }} 页</span>
                        {% for i in 1..postTotal %}
                            {% if i == page %}
                                <span class="current">{{ page }}</span>
                            {% else %}
                                <a href="{{ url('life_grow', {"page": i}) }}" class="inactive">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {#</div>#}
                {#<div class="col-lg-4">#}
                    {#<aside class="right-sidebar">#}
                        {#<div class="widget">#}
                            {#<form class="form-search">#}
                                {#<input class="form-control" type="text" placeholder="Search..">#}
                            {#</form>#}
                        {#</div>#}
                        {#{{ render(controller('AppBundle:Post:topPost')) }}#}
                        {#<div class="widget">#}
                            {#<h5 class="widgetheading">Popular tags</h5>#}
                            {#<ul class="tags">#}
                                {#<li><a href="#">Web design</a></li>#}
                                {#<li><a href="#">Trends</a></li>#}
                                {#<li><a href="#">Technology</a></li>#}
                                {#<li><a href="#">Internet</a></li>#}
                                {#<li><a href="#">Tutorial</a></li>#}
                                {#<li><a href="#">Development</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                    {#</aside>#}
                {#</div>#}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>某一人似曾相识、某一刻似曾经历</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block Cong_javascripts %}
    <script src="{{ storage_url }}static/moderna/js/jquery.fancybox.pack.js"></script>
    <script src="{{ storage_url }}static/moderna/js/jquery.fancybox-media.js"></script>
    <script src="{{ storage_url }}static/moderna/js/jquery.flexslider.js"></script>
    <script>
        $('.post-slider').flexslider({
            // Primary Controls
            controlNav          : false,              //Boolean: Create navigation for paging control of each clide? Note: Leave true for manualControls usage
            directionNav        : true,              //Boolean: Create navigation for previous/next navigation? (true/false)
            prevText            : "上一张",        //String: Set the text for the "previous" directionNav item
            nextText            : "下一张",            //String: Set the text for the "next" directionNav item

            // Secondary Navigation
            keyboard            : true,              //Boolean: Allow slider navigating via keyboard left/right keys
            multipleKeyboard    : false,             //{NEW} Boolean: Allow keyboard navigation to affect multiple sliders. Default behavior cuts out keyboard navigation with more than one slider present.
            mousewheel          : false,             //{UPDATED} Boolean: Requires jquery.mousewheel.js (https://github.com/brandonaaron/jquery-mousewheel) - Allows slider navigating via mousewheel
            pausePlay           : false,             //Boolean: Create pause/play dynamic element
            pauseText           : '暂停',           //String: Set the text for the "pause" pausePlay item
            playText            : '开始',            //String: Set the text for the "play" pausePlay item

            // Special properties
            controlsContainer   : "",                //{UPDATED} Selector: USE CLASS SELECTOR. Declare which container the navigation elements should be appended too. Default container is the FlexSlider element. Example use would be ".flexslider-container". Property is ignored if given element is not found.
            manualControls      : "",                //Selector: Declare custom control navigation. Examples would be ".flex-control-nav li" or "#tabs-nav li img", etc. The number of elements in your controlNav should match the number of slides/tabs.
            sync                : "",                //{NEW} Selector: Mirror the actions performed on this slider with another slider. Use with care.
            asNavFor            : "",                //{NEW} Selector: Internal property exposed for turning the slider into a thumbnail navigation for another slider
        });
    </script>
{% endblock %}