{% extends "AppBundle::default_layout.html.twig" %}

{% block pageTitle %}那些点点滴滴{% endblock %}

{% block banner %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ url('homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="{{ url('life') }}">慢生活</a><i class="icon-angle-right"></i></li>
                        <li class="active">点点滴滴</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="portfolio-categ filter">
                        <li class="all active"><a href="#">All</a></li>
                        <li class="web"><a href="#" title="">Web design</a></li>
                        <li class="icon"><a href="#" title="">Icons</a></li>
                        <li class="graphic"><a href="#" title="">Graphic design</a></li>
                    </ul>
                    <div class="clearfix">
                    </div>
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs" class="portfolio">

                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block Cong_javascripts %}
    <script src="{{ storage_url }}static/moderna/js/jquery.fancybox.pack.js"></script>
    <script src="{{ storage_url }}static/moderna/js/jquery.fancybox-media.js"></script>
    <script src="{{ storage_url }}static/moderna/js/google-code-prettify/prettify.js"></script>
    <script src="{{ storage_url }}static/moderna/js/portfolio/jquery.quicksand.js"></script>
    <script src="{{ storage_url }}static/moderna/js/portfolio/setting.js"></script>
    <script src="{{ storage_url }}static/moderna/js/jquery.flexslider.js"></script>
    <script src="{{ storage_url }}static/moderna/js/animate.js"></script>
    <script src="{{ storage_url }}static/moderna/js/custom.js"></script>
    <script>
        $(function()
        {
            $.get(base_url + 'picture/images', function( response )
            {
                try{
                    $('#thumbs').append( response );
                } catch( error )
                {
                    sweetAlert("Oops...", error, "error");
                }
            });
        });
    </script>
{% endblock %}