<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><i class="fa fa-home"></i><i class="icon-angle-right"></i></li>
                    <li>浮生一梦，何必执念。</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="{{ source_url }}images/2016/09/19/05/31/1e/20160922-af2634c57977125f3c91f07d05b033041ed19959.jpeg?imageView2/1/w/1024/h/360" alt="">
                            <div class="flex-caption">
                                <h3>开发微信小程序入门前</h3>
                                <p>2016年09月21日晚 微信发不了微信“小程序”的内测版，一时间整个互联网都炸了锅。个大新闻、论坛都在讨论这个事情...</p>
                                <a href="{{ url('post_detail', {"id": 20098}) }}" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                        <li>
                            <img src="{{ source_url }}images/2016/07/34/1f/ac/7d/20160730-2fc3e436220cc177a5b84ac61f4dbbc27df34a04.jpeg?imageView2/1/w/1024/h/360" alt="">
                            <div class="flex-caption">
                                <h3>Redis管理工具 Redis Web Tools</h3>
                                <p>一这是一款基于web的Redis管理工具，名字没想好。就先这么叫吧，反正用的是RedisManage取的项目名...</p>
                                <a href="{{ url('post_detail', {"id": 20093}) }}" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                        <li>
                            <img src="{{ source_url }}images/2016/07/79/c7/4f/b9/20160710-70da154ec72eff0644a2842bc7d2cb82b9979aab.jpeg?imageView2/1/w/1024/h/360" alt="">
                            <div class="flex-caption">
                                <h3>奥林匹克森林公园 向日葵</h3>
                                <p>一大早就从家里出发去了森林公园溜达，大热天的从早上晒到中午，整修人都黑了一圈。还是有很多收获的...</p>
                                <a href="{{ url('post_detail', {"id": 20090}) }}" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
</section>