<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><i class="fa fa-home"></i><i class="icon-angle-right"></i></li>
                    <li>浮生一梦，何必执念。</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="{{ source_url }}images/2016/05/6b0ed703b1411eb2a82ba9997399ccc2.png?imageView2/1/w/1024/h/360" alt="">
                            <div class="flex-caption">
                                <h3>不怎么优雅的安装Ubuntu 16.04</h3>
                                <p>自己乃是属于一个更大的整体，当他人受到伤害或死去时，当他人受到折磨或压迫时，这个整体就会消失...</p>
                                <a href="{{ url('post_detail', {"id": 20084}) }}" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                        <li>
                            <img src="{{ source_url }}images/2016/01/72a22e5a787016441080421fc35e2bd2.jpeg?imageView2/1/w/1024/h/360" alt="">
                            <div class="flex-caption">
                                <h3>如何优雅的使用 phpStorm 开发工具</h3>
                                <p>按照惯例依然是从百科上复制一条简介: PhpStorm 是 JetBrains 公司开发的一款商业的 PHP 集成开发工具...</p>
                                <a href="{{ url('post_detail', {"id": 20075}) }}" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                        <li>
                            <img src="{{ source_url }}images/2016/04/cfb92b81092c1a49dd2b19410051c700.jpeg?imageView2/1/w/1024/h/360" alt="">
                            <div class="flex-caption">
                                <h3>入手无敌三 简单体验测试</h3>
                                <p>今天终于把陪伴了我三年的佳能100D出掉了，有些不舍。这周入手了5d mark iii + 24-105mm f2.8...</p>
                                <a href="{{ url('post_detail', {"id": 20082}) }}" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
</section>