<section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="{{ source_url }}images/2015/10/deb63d26909b862b1292d61b3d27276f.jpeg?imageView2/1/w/1024/h/360" alt="">
                            <div class="flex-caption">
                                <h3>secret base～君がくれたもの～ mp4</h3>
                                <p>「secret base 〜君がくれたもの〜」（シークレット ベース 〜きみがくれたもの〜）は、ZONEの楽曲...</p>
                                <a href="{{ url('life_lifeInfo', {"id": 20054}) }}" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                        <li>
                            <img src="{{ source_url }}images/2015/10/14600f5c8a9449234fe4e8b609f2d106.jpeg?imageView2/1/w/1024/h/360" alt="">
                            <div class="flex-caption">
                                <h3>框架集成 Composer 包依赖管理</h3>
                                <p>前段时间同事说让我写一个关于composer集成在框架里的文档，其实我是拒绝的。仔细一想...</p>
                                <a href="{{ url('learn_learnInfo', {"id": 20055}) }}" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                        <li>
                            <img src="{{ source_url }}images/2015/07/131e8144b469c886bc308a5dde0b90eb.png?imageView2/1/w/1024/h/360" alt="">
                            <div class="flex-caption">
                                <h3>CodeIgniter Doctrine2基本使用（三）</h3>
                                <p>本章主要介绍对象之间的关联映射，引用一个单一目的通过一种外键进行表...</p>
                                <a href="{{ url('learn_learnInfo', {"id": 20046}) }}" class="btn btn-theme">继续阅读</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
</section>