{% extends "AppBundle::default_layout.html.twig" %}

{% block Cong_stylesheets %}
    <style>
        li .flex-next{
            z-index: 99;
        }
        .index-page{
            width: 100%;
            height: 100%;
            display: block;
            opacity: 1;
            position: fixed;
            background: #222 no-repeat center center;
            background-image: url("http://source.lattecake.com/images/2016/07/09542cfc7cd3e1eeef27be84e52c85b1.jpeg?imageView/1/w/1920/h/1080");
            /*background-image: url("http://source.lattecake.com/images/2016/03/e8a4e786b1f95682560656510e10e922.jpeg?imageView/2/w/1920");*/
            top: 0;
            left: 0;
            z-index: 9999;
        }
        .vertical {
            display: block;
            vertical-align: middle;
            margin-top: -60px;
            position: relative;
            top: 50%;
        }
        .inner {
            position: relative;
            width: 80%;
            max-width: 710px;
            margin: 0 auto;
            text-align: center;
        }
        .page-title {
            margin: 10px 0 10px 0;
            font-size: 5rem;
            letter-spacing: -1px;
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            color: #fff;
        }
        .page-description {
            margin: 0;
            font-size: 2rem;
            line-height: 1.5em;
            font-weight: 400;
            font-family: "Merriweather", serif;
            letter-spacing: 0.01rem;
            color: rgba(255,255,255,0.8);
        }
    </style>
{% endblock %}

{% block content %}
    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2>若没有<span>过往</span> 我们该怎样<span>成长</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <!-- Portfolio Projects -->
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="heading">别让自己的心塞太满 要留出点空间让阳光照进来</h4>
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs" class="portfolio">

                                <li class="item-thumbs col-lg-3 photography" data-id="id-0">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="我是一个不幸的人 但是我庆幸在自己不幸的日子里 坚强了起来" href="{{ source_url }}images/2016/07/f1/e0/ed/b9/20160710-dc1b9214dee8df07e006b856e08fdf3fb9ff19da.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ source_url }}images/2016/07/f1/e0/ed/b9/20160710-dc1b9214dee8df07e006b856e08fdf3fb9ff19da.jpeg?imageView2/1/w/260/h/195" alt="我是一个不幸的人 但是我庆幸在自己不幸的日子里 坚强了起来">
                                </li>

                                <li class="item-thumbs col-lg-3 photography" data-id="id-1">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="在尘世每个欢乐明亮的时刻 我总那么轻易的就想起你" href="{{ source_url }}images/2016/07/25/1c/5e/6a/20160710-9013036b308ce37c500312a11c8dfd8e6ac254a2.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ source_url }}images/2016/07/25/1c/5e/6a/20160710-9013036b308ce37c500312a11c8dfd8e6ac254a2.jpeg?imageView2/1/w/260/h/195" alt="在尘世每个欢乐明亮的时刻 我总那么轻易的就想起你。">
                                </li>

                                <li class="item-thumbs col-lg-3 photography" data-id="id-2">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="何必等明天" href="{{ source_url }}images/2016/05/2be012bebbc94d607b3e9bc4c73d2898.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ source_url }}images/2016/05/2be012bebbc94d607b3e9bc4c73d2898.jpeg?imageView2/1/w/260/h/195" alt="那些逝去的人，终归是在遥远的别处一去不复返，如果再不用什么去记录下他们，怕是连我们都要忘记。以曾经的美好，还此刻的珍惜。">
                                </li>

                                <li class="item-thumbs col-lg-3 photography" data-id="id-3">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="人生..." href="{{ source_url }}images/2016/05/b03475f9396f465134c46211823f5941.jpeg?imageView2/2/w/1024">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="{{ source_url }}images/2016/05/b03475f9396f465134c46211823f5941.jpeg?imageView2/1/w/260/h/195" alt="不断的发现以前的自己是个傻逼 ，这就是人生...">
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <section class="callaction">
                <div class="container">
                    <div class="row">
                        <div class="big-cta">
                            <div class="cta-text">
                                <h4 style="margin-left: -18px;">明明知道放下一切就可以轻松上路,却坚持背负一身破铜烂铁把自己累的够呛;那沉甸甸的重担里装满了无可救药的偏执和毫无希望的等待.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <p>某一人似曾相识、某一刻似曾经历</p>
                </div>
            </div>
        </div>
    </section>
    <div class="index-page" style="background: url(http://source.lattecake.com/images/2016/08/ee/0d/ea/6d/20160827-3d5c891fe55dae0cebc67a110dc161fc6dcee1a8.jpeg?imageView2/2/w/1920) no-repeat center center fixed;background-size: cover">
        <div class="vertical">
            <div class="main-header-content inner">
                {#<h1 class="page-title">嘟～嘟噜</h1>#}
                <h2 class="page-description">人生最要紧的就是要保持微笑。生命如此美妙，有太多的事，都值得微笑以对。。</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block Cong_javascripts %}
    <script src="{{ storage_url }}static/moderna/js/jquery.fancybox.pack.js"></script>
    <script src="{{ storage_url }}static/moderna/js/jquery.fancybox-media.min.js"></script>
    <script src="{{ storage_url }}static/moderna/js/jquery.flexslider.min.js"></script>
    <script src="{{ storage_url }}static/moderna/js/custom.js"></script>
    <script>
        $(function()
        {
            $('.index-page').bind('click', function()
            {
                indexPage.hide();
            });

            setTimeout("indexPage.hide()", 2000);
        });

        var indexPage = {
            self: $('.index-page'),
            hide: function()
            {
                this.self.animate({
                    opacity: 0
                }, 'slow');
                setTimeout(function()
                {
                    indexPage.self.css({
                        display: 'none'
                    });
                }, 1000);
            }
        };

    </script>
{% endblock %}
