{% extends "AppBundle::default_layout.html.twig" %}

{% block pageTitle %}慢生活{% endblock %}

{% block banner %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ url('homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="{{ url('life') }}">慢生活</a><i class="icon-angle-right"></i></li>
                        <li class="active">在成长</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
                {#<div class="col-lg-12">#}
                    {% for key, post in posts if posts %}
                        {#<div class="row">#}
                        <article class="row">
                            <div class="col-md-1 text-center">
                                <p>{{ post.createdAt|date() }}</p>
                            </div>
                            <div class="col-md-5" style="max-height: 240px; overflow-y: hidden;">
                                <a href="{{ url('life_lifeInfo', {"id": post.id}) }}">
                                    <img class="img-responsive img-hover" src="{{ sourcePath }}images/{{ post.createdAt|date('Y/m') }}/{{ post.image }}?imageView/1/w/460/h/240" alt=""/>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    <a href="{{ url('life_lifeInfo', {"id": post.id}) }}">{{ post.title }}</a>
                                </h3>
                                <p style="height: 110px;">{{ post.description }}</p>
                                <div class="bottom-article">
                                    <ul class="meta-post">
                                        <li><i class="icon-user"></i><a href="#"> super Cong</a></li>
                                        {#<li><i class="icon-folder-open"></i><a href="#"> Blog</a></li>#}
                                        <li><i class="icon-comments"></i><a href="{{ url('life_lifeInfo', {"id": post.id}) }}">4 评论</a></li>
                                    </ul>
                                    <a href="{{ url('life_lifeInfo', {"id": post.id}) }}" class="pull-right">继续阅读 <i class="icon-angle-right"></i></a>
                                </div>
                            </div>
                        </article>
                        <hr>
                    {% endfor %}
                    <div id="pagination">
                        <span class="all"> {{ page }} / {{ postTotal }} 页</span>
                        {% for i in 1..postTotal %}
                            {% if i == page %}
                                <span class="current">{{ page }}</span>
                            {% else %}
                                <a href="{{ url('life', {"page": i}) }}" class="inactive">{{ i }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {#</div>#}
                <div class="col-lg-4">
                    <aside class="right-sidebar">
                        {% set searchTitle = '玫瑰虽美 但花下荆棘丛生..' %}
                        {% include "AppBundle:Post:search.html.twig" %}
                        {{ render(controller('AppBundle:Post:topPost')) }}
                        {#<div class="widget">#}
                            {#<h5 class="widgetheading">Popular tags</h5>#}
                            {#<ul class="tags">#}
                                {#<li><a href="#">Web design</a></li>#}
                                {#<li><a href="#">Trends</a></li>#}
                                {#<li><a href="#">Technology</a></li>#}
                                {#<li><a href="#">Internet</a></li>#}
                                {#<li><a href="#">Tutorial</a></li>#}
                                {#<li><a href="#">Development</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                    </aside>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>某一人似曾相识、某一刻似曾经历</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}